.authentication-page {
    border-radius: 18px;
    box-shadow: 0 4px 25px 0 rgba(86, 92, 182, 0.05);
    background-color: #ffffff;
    width: 1140px;
    max-width: 80%;
    height: 747px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    align-items: center;
    overflow-x: hidden;
}