.auth-container {
    display: flex;
    justify-content: space-between;
    padding: 55px;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    .left-wrapper {
        flex: 1 1 0;
        .image-container {
            width: 100%;
            img {
                width: 100%; 
            }
        }
        .footer {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.63;
            letter-spacing: normal;
            color: #5e6e8c;

            .register {
                font-weight: bold;
                color: #fd3f91;
                cursor: pointer;
            }
        }
    }

    .right-wrapper {
        flex: 1 1 0;
        padding: 0 11px;  
        .header {
            font-size: 22px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
            text-align: left;
            color: #051532;
            margin-bottom: 90px;
        }  
    }
}